
.sidebar {
margin-top: 24px;
}

.jumbotron {
    background-color: #f8f9fa!important;
}

.paramentr {
    font-weight: 500;
    font-size: 24px;
}

.trait {
    color: #007bff;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.form-edit {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 30px;
}

.center {
    text-align: center;
}

.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto 30px;
}

.invalid {
	border: 1px solid #f00;
}

.opps {
    display: block;
    margin: 20px;
}

.tr-hover:hover {
background:#5dabe5!important;
}