
<div class="col-md-9">
<div class="space jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ user.name }}</h1>
    <p class="lead">User email: {{ user.email }}</p>
    <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
  </div>
</div>
</div>
