.navbar {
    margin-bottom: 0;
}

.carousel-caption {
    bottom: 125px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 111px;
    color: #9d9d9d;
    background-color: #101010;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 80px;
}

.form-edit {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 30px;
}

.center {
    text-align: center;
}
.btn-group-vertical {
    margin-top: 20px;
    font-size: 20px;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 10px 65px;
    text-align: center;
}

.form-control-invalid { 
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #f00;
    border-radius: 4px;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

b {
    font-weight: 500;
    font-size: 24px;
}
.opps {
    display:block;
    margin: 110px;
}

.marg{
	margin-left: 160px;
}

hr.style5 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.input-group .form-control:last-child,
.input-group-addon:last-child, .input-group-btn:last-child>.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-group .form-control:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 4px;
}
.input-group-btn:last-child>.btn {
    margin-left: 10px;
}