/* You can add global styles to this file, and also import other style files */
body{
  margin-right: auto!important;
  margin-top: 50px!important;
  margin-left: 365px!important;
  width: 840px;
}

.space {
  margin-top:40px;
}
